body {
    background-color: #fff;
    font-color: #3a4145;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    font-size: 13px;
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;   
}
/*
* {
    border: 1px solid red !important;
}
*/

*:focus {
    outline: 0;
}

::selection {
  background: #9087E5;
}
::-moz-selection {
  background: #9087E5;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
}
/*
html a {
    color: #2a998b;
    text-decoration: none;
}
html a:hover {
    color: #36bcab;
    text-decoration: underline;
}
*/

#top-border-span {
    background-image: url("../images/textures/space_galaxy.jpg");
    height: 0.5%;
    width: 100%;
    position: fixed;
    top: 0px;
}

#header {
    background: linear-gradient(to bottom, #242544, #392780);
    color: #fff;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.8%;
    height: 5%;
    /*border-top: 4px solid #E4EDEA;*/
    border-bottom: 1px solid #AA65CF;
    /*border: 2px solid blue;*/
}

#header a {
    color: #F18D35;
}

#header a:hover {
    color: #FFC591;
}

#logo {
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 200%;
    text-shadow: 1px 1px #797496;
    font-weight: bold;

    padding-top: 0.75%;
    float: left;
}

.right-bar {
    text-align: right;
    padding-top: 1%;
    float: right;
    display: inline-block;
    font-weight: bold;
}

.right-bar a {
    font-weight: normal;
}

#header-content {
    padding-left: 5%;
    padding-right: 5%;
}

#main {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    /*padding-bottom: 2%;*/
}

#main-image {
    background-image: url("../images/textures/space_galaxy.jpg");
    background-size: cover;

    padding-left: 35%;
    padding-right: 35%;
    padding-top: 4%;
    height: 50%;
    text-align: center;    
}

#main-image h1 {
    color: #fff;
    font-size: 350%;
    font-weight: normal;
}

.google-button {
    padding-top: 4%;
}

.icon {
    height: 32px;
    width: 32px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.icon:hover {
    opacity: 0.75;
}


#content {
}

#content-header {
    padding-left: 5%;
    padding-right: 5%;
}

#content-header h1 {
    font-weight: 300;
    text-shadow: 1px 1px #DED6F8;
    padding-bottom: 1.5%;
    border-bottom: 1px solid #E8E4F7;
}

#content-main {
    /*padding-right: 2%;*/
}

.content-center {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
    text-align: center;
}

.content-center a {
    text-decoration: none;
}

.content-center a:hover {
    text-decoration: underline;
}

.content-center h3 {
    color: #2A2556;
    font-weight: 300;
    text-shadow: 1px 1px #DED6F8;

}

#footer {
    background-image: url("../images/textures/space_galaxy.jpg");
    /*background-color: #B5DAEB;*/
    /*background: linear-gradient(to bottom, #fff, #b5b5b5);*/

    /* Only problem is that if we shrink the window, this keeps the footer frozen */
    position: fixed;
    bottom: 0px;
    width: 100%;

    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0.2%;
    height: 1%;
}

.pull-right {
    text-align: right;
}

.float-right {
    float: right;
}
