{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', {packages: ['corechart', 'line']});
        google.setOnLoadCallback(drawChart);

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function drawChart() {
            var posting = $.get("{% url 'api:get_task_data_table_json' %}", function (jsonData) {
                    var data = new google.visualization.DataTable(jsonData);
                    var options = {
                        vAxis: {
                            title: 'Tasks Performed',
                        },
                        pointSize: 5,
                        // width: 1500,
                        height: 675,
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('task_summary_chart'));
                    chart.draw(data, options);
            }); // end post   
        } // end drawChart

        $(window).resize(function() {
            if(this.resizeEvent) clearTimeout(this.resizeEvent);
                this.resizeEvent = setTimeout(function() {
                    $(this).trigger('trigger_resize');
                }, 10);
        });
        
        $(window).on('trigger_resize', function() {
            drawChart();
        });

    </script>
{% endblock %}

{% block header %}
    <div class="right-bar">
        {% if user and not user.is_anonymous %}
                <div class="username">{{ user.get_full_name|default:user.username }}</div>
                <a href="{% url 'auth:logout' %}?next={{ request.path }}">Sign Out</a>
        {% endif %}
    </div>
{% endblock %}

{% block main %}
    <div id="content">
        <div id="content-header">
            <h1>Daily Task Summary</h1>
        </div>

        <div id="content-main">
            <div id="task_summary_chart"></div>
        </div>
    </div>
{% endblock %}