{% extends 'base.html' %}

<script> //! Have wrap it in a script tag so that it appears as javascript
    {% block head_onLoad %}


            var svg1_url = "{% url 'api:get_task_data' %}";
            var svg1 = dimple.newSvg("#task_summary_chart", "100%", 400);

            var defaultColors = [
                new dimple.color("#3bd4f9", "#07c4f2", 1), // blue
                new dimple.color("#2ecc71", "#2abc68", 1), // green
                new dimple.color("#f89406", "#e58906", 1), // orange
                new dimple.color("#a259cf", "#913bc6", 1), // purple
                new dimple.color("#e74c3c", "#c0392b", 1), // red
                new dimple.color("#36d7b7", "#29d0af", 1), // turquoise
                new dimple.color("#f8d106", "#e4c41a", 1), // yellow
                new dimple.color("#95a5a6", "#8a9c9d", 1)  // gray
              ],
              ring_defaultColors = [
                new dimple.color("#3bd4f9", "#07c4f2", 1), // blue
                new dimple.color("#2ecc71", "#2abc68", 1), // green
                new dimple.color("#f89406", "#e58906", 1), // orange
                new dimple.color("#a259cf", "#913bc6", 1), // purple
                new dimple.color("#e74c3c", "#c0392b", 1), // red
                new dimple.color("#36d7b7", "#29d0af", 1), // turquoise
                new dimple.color("#f8d106", "#e4c41a", 1), // yellow
                new dimple.color("#95a5a6", "#8a9c9d", 1)  // gray
              ];

              //! Query server to see if there is any chart data before trying to grab it 
              var posting = $.post(
                    "{% url 'api:get_task_data' %}", 
                    {
                        csrfmiddlewaretoken: getCookie('csrftoken'),
                        user: "{{ user }}",
                        time_slice: time_slice,
                        date_range: get_interval(time_slice)
                    }
                )
                // Add the entry to list
                .done(function (data) {
                    if (data.has_data) {
                        d3.tsv(svg1_url + new_time_interval, function (data) {
                            if (data.length > 0) {
                                var myChart = new dimple.chart(svg1, data);
                                // var yAxis = myChart.addMeasureAxis("y", "Words/Min");
                                var xAxis = myChart.addCategoryAxis("x", ["Zap", "Task Count"]);

                                xAxis.addOrderRule("Date");

                                // Add "Word Count" and "Time" to tooltip, but "Project" is last because we want that to show as the
                                // grouped value
                                // var mySeries = myChart.addSeries(["Word Count", "Time", "Project"], dimple.plot.bar, [xAxis, yAxis]);

                                myChart.addLegend(250, 27, 510, 20, "left");

                                myChart.defaultColors = defaultColors;

                                mySeries.afterDraw = function (s, d) {
                                    var shape = d3.select(s),
                                        goldenRatio = 1.61803398875;

                                    // Add a rectangle to the bar giving a nice style.  The idea was borrowed
                                    // from sirocco's question here:
                                    // http://stackoverflow.com/questions/25044608/dimplejs-barchart-styling-columns
                                    svg1.append("rect")
                                      .attr("x", shape.attr("x"))
                                      .attr("y", shape.attr("y"))
                                      .attr("height", shape.attr("height"))
                                      .attr("width", (0.1 * shape.attr("width")) / goldenRatio)
                                      .style("fill", shape.style("stroke"))
                                      .style("opacity", 1)
                                      .style("pointer-events", "none");

                                    // Draw without a border
                                    shape.attr("stroke", shape.attr("fill"));
                                  };

                                myChart.draw();

                                //! Removes the y-axis line
                                // yAxis.shapes.selectAll("line,path").remove();
                                
                                //! Removes the x-axis line
                                // xAxis.shapes.selectAll("path").remove();
                                // xAxis.titleShape.text("");

                                svg1.append("text")
                                   .attr("x", myChart._xPixels() + myChart._widthPixels() / 2)
                                   .attr("y", myChart._yPixels() - 20)
                                   .style("text-anchor", "middle")
                                   .style("font-family", "sans-serif")
                                   .style("font-weight", "bold")
                                   .text("Daily Task Summary");
                            }
                            else { //! No data, display a message instead

                            }
                        });
                        svg1.append("rect")
                            .attr("width", "100%")
                            .attr("height", "100%")
                            .style("fill", "#ffffff");       

                    } // end if has_data
                    else {
                      //! No data!
                      // toggle_error();
                    }

              }); // end post                 


    {% endblock %}
</script>

{% block main %}
    <div>
        <h1>Zapalyze!</h1>
        <p>
            <ul>
                {% if user and not user.is_anonymous %}
                    <li>
                        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                    </li>
                    <li>
                        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                    </li>
                {% endif %}
            </ul>
        </p>

        <div id="task_summary_chart" class="barchart">
        </div>

    </div>
{% endblock %}