{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block header %}
    <div class="icon-right">
    </div>
{% endblock %}

{% block main-image %}
    <div id="main-image">
        <div id="main-image-content">
            <h1>Productivity, visualized. Zaps and Tasks, analyzed. <br>Show me charts!</h1>        
            <div class="google-button">
                {% if user.is_anonymous or not user %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img src="{% static 'images/google-buttons/web/1x/btn_google_signin_light_normal_web.png' %}" id="google-button"></a>
                {% endif %}
            </div>
        </div>
    </div>        
{% endblock %}


{% block main %}
    <div id="content">

        <div id="content-main">

            <div class="content-area">
                <h2>You're going to need..</h2>
                <ul>
                    <li>A gmail account hooked up to your Zapier account.</li>
                    <li>Your Zapier Activity Settings set to Daily Task Summary.</li>
                </ul>
            </div>

            <div class="content-center">
                <a href="https://github.com/suprafly"><img src="{% static 'images/github/icon_github-sign.svg' %}" class="icon"></a>
                <a href="https://github.com/suprafly"><h3>View this project on GitHub.</h3></a>
            </div>

        </div>
    </div>
{% endblock %}