{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

<script> //! Have wrap it in a script tag so that it appears as javascript
    {% block head_onLoad %}

        google.load('visualization', '1', {packages: ['corechart', 'line']});
        google.setOnLoadCallback(drawChart);

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function drawChart() {
            var posting = $.get("{% url 'api:get_task_data_table_json' %}?pk={{ user.pk }}", function (jsonData) {
                    var data = new google.visualization.DataTable(jsonData);
                    var options = {
                        title: 'Task Summary',
                        vAxis: {
                            title: 'Tasks Performed',
                        },
                        pointSize: 5,
                        // width: 1500,
                        height: 500,
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }); // end post   
            } // end drawChart

    {% endblock %}
</script>

{% block main %}
    <div>
        <h1>Zapalyze!</h1>
        <p>
            <ul>
                {% if user and not user.is_anonymous %}
                    <li>
                        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                    </li>
                    <li>
                        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
                    </li>
                {% endif %}
            </ul>
        </p>
    </div>

    <div id="task_summary_chart"></div>
   
    <div id="chart_div"></div>

{% endblock %}