{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Zapalyze!{% endblock %}</title>

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

        {% block head %}
        {% endblock %}

        <script>
            {# For adding scripts to the head of templates #}
            {% block head_onLoad %}
            {% endblock %}                     
        </script>
    </head>

    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>

