{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
        <title>{% block title %}zapalyze!{% endblock %}</title>

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

        {% block head %}
        {% endblock %}

        <script>
            {# For adding scripts to the head of templates #}
            {% block head_onLoad %}
            {% endblock %}                     
        </script>
    </head>

    <body>
        <div id="top-border-span">
        </div>

        <div id="header">
            <div id="header-content">
                <div id="logo">zapalyze!</div>
                {% block header %}
                {% endblock %}
            </div>
        </div>

        {% block main-image %}
        {% endblock %}

        <div id="main">
            {% block main %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>

